Repository fullstacksjs/the-charity-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix, npx --no-install prisma format

add test case for draft family
  src/family/family.resolver.spec.ts
Due: cspell --no-must-find-files, eslint --fix

add migration into ci workflow
  .github/workflows/CI.yml
Due: prettier --write, cspell --no-must-find-files

[Hotfix]: Change Complete To Completed (#27)
  prisma/migrations/20220925172745_change_complete_to_completed_in_family_status_enum/migration.sql
  prisma/schema.prisma
Due: npx --no-install prisma format

[FSK-80]: Draft Family: Implement Query To Get A Family By Id (#24)
  .example.env
  .github/workflows/CI.yml
  e2e/smoke.e2e-spec.ts
  package-lock.json
  package.json
  src/configuration/EnvironmentVariables.ts
  src/configuration/index.ts
  src/configuration/validation.ts
  src/family/entities/completed-family.entity.ts
  src/family/entities/draft-family.entity.ts
  src/family/entities/family-status.enum.ts
  src/family/entities/family.entity.ts
  src/family/family.resolver.spec.ts
  src/family/family.resolver.ts
  src/family/family.service.spec.ts
  src/family/family.service.ts
  src/family/stubs/family.stub.ts
  src/family/stubs/index.ts
  src/prisma/prisma.service.spec.ts
  src/prisma/prisma.service.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

[Hotfix]: Graphql Sandbox Origin (#28)
  src/graphql-config/graphql-config.service.ts
Due: cspell --no-must-find-files, eslint --fix

family-status: mapped all complete to completed
  src/family/entities/family-status.enum.ts
  src/family/entities/family.entity.ts
  src/family/family.resolver.spec.ts
Due: cspell --no-must-find-files, eslint --fix

[Hotfix]: Fix Build Problem
  .github/workflows/CI.yml
  .prettierignore
  src/family/entities/family-status.enum.ts
  src/family/entities/family.entity.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

[Hotfix]: FamilyStatus: Mapped All Complete value To Completed (#29)
  src/family/entities/family-status.enum.ts
  src/family/family.resolver.spec.ts
Due: cspell --no-must-find-files, eslint --fix

modify config's value
  src/graphql-config/graphql-config.service.ts
  src/main.ts
  src/prisma/prisma.service.ts
Due: cspell --no-must-find-files, eslint --fix

replace ConfigModule by new one
  src/app.module.ts
Due: cspell --no-must-find-files, eslint --fix

add configuration module
  src/configuration/EnvironmentVariables.ts
  src/configuration/config.ts
  src/configuration/configuration.module.ts
  src/configuration/index.ts
  src/configuration/interface/config.interface.ts
  src/configuration/interface/index.ts
Due: cspell --no-must-find-files, eslint --fix

replaced ConfigModule with ConfigurationModule as mock
  src/graphql-config/graphql.service.spec.ts
Due: cspell --no-must-find-files, eslint --fix

refactor
  package.json
  src/configuration/EnvironmentVariables.ts
  src/configuration/config.interface.ts
  src/configuration/config.schema.ts
  src/configuration/config.ts
  src/configuration/configuration.module.ts
  src/configuration/index.ts
  src/configuration/interface/index.ts
  src/graphql-config/graphql-config.service.ts
  src/main.ts
  src/prisma/prisma.service.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

[FSK-86]: Extract The Configuration Module (#30)
  package.json
  src/app.module.ts
  src/configuration/EnvironmentVariables.ts
  src/configuration/config.interface.ts
  src/configuration/config.schema.ts
  src/configuration/config.ts
  src/configuration/configuration.module.ts
  src/configuration/index.ts
  src/graphql-config/graphql-config.service.ts
  src/graphql-config/graphql.service.spec.ts
  src/main.ts
  src/prisma/prisma.service.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add create project mutation and unit test
  package-lock.json
  package.json
  src/project/dto/create-project.dto.ts
  src/project/entities/project-status.enum.ts
  src/project/entities/project.entity.ts
  src/project/project.resolver.spec.ts
  src/project/project.resolver.ts
  src/project/project.service.spec.ts
  src/project/project.service.ts
  src/project/stubs/index.ts
  src/project/stubs/project.stub.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add API testing for project resolvers
  src/project/entities/project-status.enum.ts
  src/project/project.resolver.spec.ts
  src/project/project.service.spec.ts
  src/project/stubs/project.stub.ts
Due: cspell --no-must-find-files, eslint --fix

add checking data in db in API-testing test cases
  src/project/project.resolver.spec.ts
Due: cspell --no-must-find-files, eslint --fix

disable mock
  src/graphql-config/graphql-config.service.ts
Due: cspell --no-must-find-files, eslint --fix

add createFamily mutation
  e2e/smoke.e2e-spec.ts
  package-lock.json
  package.json
  src/family/dto/create-family.input.ts
  src/family/family.resolver.spec.ts
  src/family/family.resolver.ts
  src/family/family.service.spec.ts
  src/family/family.service.ts
  src/shared/graphqlRequest.ts
  src/shared/index.ts
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

change some file path for better folder structure
  e2e/lib/graphqlRequest.ts
  e2e/lib/index.ts
  e2e/smoke.e2e-spec.ts
  src/family/dto/input/create-family.input.ts
  src/family/family.resolver.ts
  src/shared/index.ts
Due: cspell --no-must-find-files, eslint --fix

change input file location
  src/project/dto/input/create-project.input.ts
  src/project/dto/input/index.ts
  src/project/project.resolver.spec.ts
  src/project/project.resolver.ts
  src/project/project.service.spec.ts
  src/project/project.service.ts
Due: cspell --no-must-find-files, eslint --fix

change create project input name
  src/project/dto/input/create-project-input.dto.ts
  src/project/dto/input/index.ts
Due: cspell --no-must-find-files, eslint --fix

change method createOne to create
  src/project/project.resolver.ts
  src/project/project.service.spec.ts
  src/project/project.service.ts
Due: cspell --no-must-find-files, eslint --fix

change data to input
  src/family/family.resolver.spec.ts
  src/family/family.resolver.ts
Due: cspell --no-must-find-files, eslint --fix

fix project resolver test cases
  src/project/project.resolver.spec.ts
  src/project/project.service.spec.ts
Due: cspell --no-must-find-files, eslint --fix

[FSK-55]: Create Project Implement Resolvers (#31)
  package-lock.json
  package.json
  src/graphql-config/graphql-config.service.ts
  src/project/dto/input/create-project-input.dto.ts
  src/project/dto/input/index.ts
  src/project/entities/project-status.enum.ts
  src/project/entities/project.entity.ts
  src/project/project.resolver.spec.ts
  src/project/project.resolver.ts
  src/project/project.service.spec.ts
  src/project/project.service.ts
  src/project/stubs/index.ts
  src/project/stubs/project.stub.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add createFamily mutation
  package-lock.json
  package.json
  src/family/dto/input/create-family-input.dto.ts
  src/family/family.resolver.spec.ts
  src/family/family.resolver.ts
  src/family/family.service.spec.ts
  src/family/family.service.ts
  src/main.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

check error message on test
  src/family/family.service.spec.ts
Due: cspell --no-must-find-files, eslint --fix

add unit test for expected result of create family service
  src/family/family.service.spec.ts
Due: cspell --no-must-find-files, eslint --fix

refactor create method
  src/family/family.service.ts
Due: cspell --no-must-find-files, eslint --fix

add ValidationPipe to App module provider for e2e tests
  src/app.module.ts
  src/main.ts
Due: cspell --no-must-find-files, eslint --fix

[FSK-75]: Add CreateFamily Mutation (#33)
  package-lock.json
  package.json
  src/app.module.ts
  src/family/dto/input/create-family-input.dto.ts
  src/family/family.resolver.spec.ts
  src/family/family.resolver.ts
  src/family/family.service.spec.ts
  src/family/family.service.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add member model
  prisma/migrations/20221010163301_add_member_model/migration.sql
  prisma/schema.prisma
Due: npx --no-install prisma format

update seed (create member)
  prisma/seed.ts
Due: cspell --no-must-find-files, eslint --fix

create many members instead of one
  prisma/seed.ts
Due: cspell --no-must-find-files, eslint --fix

change Member field to members in Family model
  prisma/schema.prisma
Due: npx --no-install prisma format

update familyId property to family_id
  prisma/migrations/20221011145527_change_family_id_property_to_family_id/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: cspell --no-must-find-files, eslint --fix, npx --no-install prisma format

[FSK-91]: List Of Families Member DB Model (#34)
  prisma/migrations/20221010163301_add_member_model/migration.sql
  prisma/migrations/20221011145527_change_family_id_property_to_family_id/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: cspell --no-must-find-files, eslint --fix, npx --no-install prisma format

update seed and db: add householder
  prisma/migrations/20221010191202_add_householder/migration.sql
Due: none

add seed to create householder
  prisma/seed.ts
Due: cspell --no-must-find-files, eslint --fix

Path conditions:
  prettier --write: any of: *.{md,json,yml,yaml,html}
  cspell --no-must-find-files: (any of: *.{md,json,yml,yaml,html}) or (any of: *.ts)
  eslint --fix: any of: *.ts
  npx --no-install prisma format: any of: *.prisma
