Repository fullstacksjs/the-charity-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

fix: make husky executable
  .husky/commit-msg
Due: none

fix: husky version
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

add community eslint-config
  .eslintrc.js
  @types/environment.d.ts
  package-lock.json
  package.json
  src/app.module.spec.ts
  src/app.module.ts
  src/config/configuration.ts
  src/main.ts
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

remove logs
  src/config/configuration.ts
Due: cspell --no-must-find-files, eslint --fix

remove wrong assertion
  src/config/configuration.ts
Due: cspell --no-must-find-files, eslint --fix

add esModuleInterop
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files

[FSK-23]: add Linter configuration (#2)
  .cspell.json
  .editorconfig
  .eslintrc.js
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc
  .prettierrc.json
  @types/environment.d.ts
  dictionary.txt
  package-lock.json
  package.json
  src/app.module.spec.ts
  src/app.module.ts
  src/config/configuration.ts
  src/main.ts
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add github action CI
  .github/workflows/CI.yml
  package.json
Due: prettier --write, cspell --no-must-find-files

fix github action {test,lint}steps
  package.json
Due: prettier --write, cspell --no-must-find-files

fix github action test:ci step
  package.json
Due: prettier --write, cspell --no-must-find-files

[FSK-26]: Create GitHub Action (#3)
  .github/workflows/CI.yml
  package.json
Due: prettier --write, cspell --no-must-find-files

replace cross-env package with dotenv-cli (for prisma)
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

add env, dotenv and cli word to dictionary
  dictionary.txt
Due: none

add prisma and fix configuration bug
  .gitignore
  package-lock.json
  package.json
  prisma/migrations/20220904132759_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/app.module.ts
  src/config/configuration.ts
  src/main.ts
  src/prisma/prisma.module.ts
  src/prisma/prisma.service.spec.ts
  src/prisma/prisma.service.ts
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add seed script to create an admin
  package-lock.json
  package.json
  prisma/seed.ts
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add seed script to create an admin
  package-lock.json
  prisma/seed.ts
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add DATABASE_URL to example.env file and delete configuration file
  .example.env
  @types/environment.d.ts
  src/app.module.ts
  src/config/configuration.ts
  src/main.ts
Due: cspell --no-must-find-files, eslint --fix

disable linter error for configuration keys
  src/app.module.ts
  src/configuration/types.ts
  src/main.ts
Due: cspell --no-must-find-files, eslint --fix

extract validation schema into another file and load the environment outside of source code
  package.json
  src/app.module.ts
  src/configuration/validation.ts
  src/main.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

improve scripts
  package.json
Due: prettier --write, cspell --no-must-find-files

rename type to more meaningful one
  src/main.ts
Due: cspell --no-must-find-files, eslint --fix

rename types to more meaningful name
  src/configuration/EnvironmentVariables.ts
Due: cspell --no-must-find-files, eslint --fix

fix CI workflow
  .github/workflows/CI.yml
Due: none

add e2e test to CI
  .github/workflows/CI.yml
Due: none

fix e2e test
  .github/workflows/CI.yml
Due: none

remove e2e test
  .github/workflows/CI.yml
  package.json
Due: prettier --write, cspell --no-must-find-files

[FSK-25]: Integrate Prisma (#5)
  .example.env
  .github/workflows/CI.yml
  .gitignore
  @types/environment.d.ts
  dictionary.txt
  package-lock.json
  package.json
  prisma/migrations/20220904132759_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  prisma/seed.ts
  src/app.module.ts
  src/config/configuration.ts
  src/configuration/EnvironmentVariables.ts
  src/configuration/validation.ts
  src/main.ts
  src/prisma/prisma.module.ts
  src/prisma/prisma.service.spec.ts
  src/prisma/prisma.service.ts
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

update eslint config
  .eslintrc.js
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

add naming convention
  .eslintrc.js
Due: none

[Hotfix]: Update ESLint Config (#8)
  .eslintrc.js
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

improve configs
  .cspell.json
  configs/cspell/dictionary.txt
  configs/husky/commit-msg
  configs/husky/pre-commit
  package-lock.json
  package.json
  scripts/pr
  scripts/prepare
Due: prettier --write, cspell --no-must-find-files

fix prepare script
  package.json
Due: prettier --write, cspell --no-must-find-files

add eslintignore
  .eslintignore
  package.json
Due: prettier --write, cspell --no-must-find-files

[Hotfix]: Improve Configurations (#9)
  .cspell.json
  .eslintignore
  configs/cspell/dictionary.txt
  configs/husky/commit-msg
  configs/husky/pre-commit
  package-lock.json
  package.json
  scripts/pr
  scripts/prepare
Due: prettier --write, cspell --no-must-find-files

fix family entities
  src/family/entities/complete-family.entity.ts
  src/family/entities/draft-family.entity.ts
Due: cspell --no-must-find-files, eslint --fix

remove password field
  src/admin/entities/admin.entity.ts
  src/project/entities/project.entity.ts
  src/shared/scalars/iban.scalar.ts
  src/shared/scalars/money.scalar.ts
Due: cspell --no-must-find-files, eslint --fix

Path conditions:
  prettier --write: any of: *.{md,json}
  cspell --no-must-find-files: (any of: *.{md,json}) or (any of: *.ts)
  eslint --fix: any of: *.ts
