Repository fullstacksjs/the-charity-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

change family name data type to text because we don't need b-tree index on that
  prisma/migrations/20220918155220_change_family_name_to_text/migration.sql
  prisma/schema.prisma
Due: none

change prisma data type to var char to use B-Tree index
  prisma/migrations/20220918161356_change_data_type/migration.sql
  prisma/schema.prisma
Due: none

add shadow database url
  .example.env
  prisma/schema.prisma
Due: none

change admin and family schema fields data type
  prisma/migrations/20220919130504_change_data_types/migration.sql
  prisma/schema.prisma
Due: none

[FSK-74]: Change Data Types (Family & Admin) (#23)
  prisma/migrations/20220919130504_change_data_types/migration.sql
  prisma/schema.prisma
Due: none

remove shadow db
  .example.env
  prisma/schema.prisma
Due: none

format schema
  prisma/schema.prisma
Due: none

remove cspell on prisma file
  .lintstagedrc.json
Due: prettier --write, cspell --no-must-find-files

add VarChar to project id
  prisma/migrations/20220919132311_add_extra_varchar_to_project_id/migration.sql
  prisma/schema.prisma
Due: none

migration for project schema
  prisma/migrations/20220918160012_dev/migration.sql
Due: none

add cspell linter to *.prisma file
  .lintstagedrc.json
Due: prettier --write, cspell --no-must-find-files

print out project name
  prisma/seed.ts
Due: cspell --no-must-find-files, eslint --fix

seed test project into db
  prisma/seed.ts
Due: cspell --no-must-find-files, eslint --fix

add @@map to project to move tableName to lowercase
  prisma/migrations/20220920130548_map_project_name/migration.sql
  prisma/schema.prisma
Due: none

add formatter for *.prisma file
  .lintstagedrc.json
Due: prettier --write, cspell --no-must-find-files

add VarChar to name of project + migration
  prisma/migrations/20220918161031_project_name_varchar/migration.sql
  prisma/schema.prisma
Due: none

project model added
  prisma/schema.prisma
Due: none

change length of project name to 255
  prisma/migrations/20220920132055_project_name_to_255/migration.sql
  prisma/schema.prisma
Due: none

[FSK-54]: Create Project Db Schema (#18)
  .lintstagedrc.json
  prisma/migrations/20220918160012_dev/migration.sql
  prisma/migrations/20220918161031_project_name_varchar/migration.sql
  prisma/migrations/20220919132311_add_extra_varchar_to_project_id/migration.sql
  prisma/migrations/20220920130548_map_project_name/migration.sql
  prisma/migrations/20220920132055_project_name_to_255/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

[FSK-84]: Document Environment Variables (#22)
  .example.env
Due: none

fullstacks add into dictionary.txt
  configs/cspell/dictionary.txt
Due: none

graphql moved into own module
  src/app.module.ts
  src/graphql-config/graphql-config.module.ts
  src/graphql-config/graphql-config.service.ts
  src/graphql-config/graphql.service.spec.ts
Due: cspell --no-must-find-files, eslint --fix

cors origin fixed in dev mode
  src/graphql-config/graphql-config.service.ts
Due: cspell --no-must-find-files, eslint --fix

install @fullstacksjs/toolbox as dependency
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

extract mocks
  src/graphql-config/graphql-config.service.ts
  src/graphql-config/scalerMocks.ts
Due: cspell --no-must-find-files, eslint --fix

add smoke test
  configs/cspell/dictionary.txt
  e2e/jest-e2e.json
  e2e/smoke.e2e-spec.ts
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add e2e test in ci workflow
  .github/workflows/CI.yml
Due: none

add .github to .prettierignore
  .prettierignore
Due: none

add new word into dictionary.txt
  configs/cspell/dictionary.txt
Due: none

[FSK-85]: Extract The GraphQL Module (#25)
  .github/workflows/CI.yml
  .prettierignore
  configs/cspell/dictionary.txt
  e2e/jest-e2e.json
  e2e/smoke.e2e-spec.ts
  package-lock.json
  package.json
  src/app.module.ts
  src/graphql-config/graphql-config.module.ts
  src/graphql-config/graphql-config.service.ts
  src/graphql-config/graphql.service.spec.ts
  src/graphql-config/scalerMocks.ts
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

Revert "[FSK-85]: Extract The GraphQL Module (#25)"
  .github/workflows/CI.yml
  .prettierignore
  configs/cspell/dictionary.txt
  e2e/jest-e2e.json
  e2e/smoke.e2e-spec.ts
  package-lock.json
  package.json
  src/app.module.ts
  src/graphql-config/graphql-config.module.ts
  src/graphql-config/graphql-config.service.ts
  src/graphql-config/graphql.service.spec.ts
  src/graphql-config/scalerMocks.ts
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

install jest-mock-extended
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

fake family as stub added
  src/family/stubs/family.stub.ts
  src/family/stubs/index.ts
Due: cspell --no-must-find-files, eslint --fix

family service + test
  src/family/family.resolver.ts
  src/family/family.service.spec.ts
  src/family/family.service.ts
Due: cspell --no-must-find-files, eslint --fix

fix dependency of familyResolver and test passed
  src/family/family.resolver.spec.ts
Due: cspell --no-must-find-files, eslint --fix

fix typo: foundedFamily replaced by family
  src/family/family.service.spec.ts
Due: cspell --no-must-find-files, eslint --fix

findFamilyById replaced by findById
  src/family/family.resolver.ts
  src/family/family.service.spec.ts
  src/family/family.service.ts
Due: cspell --no-must-find-files, eslint --fix

restructure test
  .example.env
  e2e/smoke.e2e-spec.ts
  package-lock.json
  package.json
  src/configuration/EnvironmentVariables.ts
  src/configuration/index.ts
  src/configuration/validation.ts
  src/family/entities/completed-family.entity.ts
  src/family/entities/draft-family.entity.ts
  src/family/entities/family-status.enum.ts
  src/family/entities/family.entity.ts
  src/family/family.resolver.spec.ts
  src/family/family.resolver.ts
  src/prisma/prisma.service.spec.ts
  src/prisma/prisma.service.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

rename COMPLETE to COMPLETED in FamilyStatus
  prisma/migrations/20220925172745_change_complete_to_completed_in_family_status_enum/migration.sql
  prisma/schema.prisma
Due: none

fix graphql sandbox origin
  src/graphql-config/graphql-config.service.ts
Due: cspell --no-must-find-files, eslint --fix

Path conditions:
  prettier --write: any of: *.{md,json}
  cspell --no-must-find-files: (any of: *.{md,json}) or (any of: *.ts)
  eslint --fix: any of: *.ts
