Repository fullstacksjs/the-charity-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix, npx --no-install prisma format

fix e2e test
  .eslintrc.js
  prisma/migrations/20221117171154_change_relation_cascade/migration.sql
  prisma/schema.prisma
  src/auth/auth.service.spec.ts
  src/family/family.resolver.spec.ts
  src/family/family.service.spec.ts
  src/householder/householder.resolver.spec.ts
  src/householder/householder.service.spec.ts
  src/shared/empty-logger.ts
  tsconfig.eslint.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix, npx --no-install prisma format

[Hotfix]: Fix API Tests Errors (#44)
  .eslintrc.js
  prisma/migrations/20221117171154_change_relation_cascade/migration.sql
  prisma/schema.prisma
  src/auth/auth.service.spec.ts
  src/family/family.resolver.spec.ts
  src/family/family.service.spec.ts
  src/householder/householder.resolver.spec.ts
  src/householder/householder.service.spec.ts
  src/shared/empty-logger.ts
  tsconfig.eslint.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix, npx --no-install prisma format

rename environment files
  .env.example
  .gitignore
  README.md
  package.json
Due: prettier --write, cspell --no-must-find-files

fix e2e test
  e2e/login.e2e-spec.ts
Due: cspell --no-must-find-files, eslint --fix

add tests
  e2e/login.e2e-spec.ts
  e2e/utils/cookies.ts
  e2e/utils/index.ts
Due: cspell --no-must-find-files, eslint --fix

improve tests
  e2e/login.e2e-spec.ts
  e2e/smoke.e2e-spec.ts
  e2e/utils/graphql-request.util.ts
  src/auth/auth.resolver.ts
  src/configuration/config.ts
Due: cspell --no-must-find-files, eslint --fix

revert secure
  src/configuration/config.ts
Due: cspell --no-must-find-files, eslint --fix

force the migration
  package.json
Due: prettier --write, cspell --no-must-find-files

change ci migrate to push
  .github/workflows/CI.yml
Due: prettier --write, cspell --no-must-find-files

[FSK-130]: Make Auth Cookie Secure (#45)
  .env.example
  .github/workflows/CI.yml
  .gitignore
  README.md
  e2e/login.e2e-spec.ts
  e2e/smoke.e2e-spec.ts
  e2e/utils/cookies.ts
  e2e/utils/graphql-request.util.ts
  e2e/utils/index.ts
  package.json
  src/auth/auth.resolver.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

Path conditions:
  prettier --write: any of: *.{md,json,yml,yaml,html}
  cspell --no-must-find-files: (any of: *.{md,json,yml,yaml,html}) or (any of: *.ts)
  eslint --fix: any of: *.ts
  npx --no-install prisma format: any of: *.prisma
