Repository fullstacksjs/the-charity-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix, npx --no-install prisma format

.lintstagedrc.json:

{
  "*.{md,json,yml,yaml,html}": [
    "prettier --write",
    "cspell --no-must-find-files"
  ],
  "*.ts": ["eslint --fix", "cspell --no-must-find-files"],
  "*.prisma": ["npx --no-install prisma format"]
}

change family_id to testHouseholder variable instead of input directly
  prisma/seed.ts
Due: cspell --no-must-find-files, eslint --fix

update householder and family_id convention
  prisma/seed.ts
Due: cspell --no-must-find-files, eslint --fix

change testHouseholder variable location
  prisma/seed.ts
Due: cspell --no-must-find-files, eslint --fix

update familyId property to family_id
  prisma/migrations/20221011150127_update_family_id_property_to_family_id/migration.sql
  prisma/seed.ts
Due: cspell --no-must-find-files, eslint --fix

refactor seed.ts
  prisma/schema.prisma
  prisma/seed.ts
Due: cspell --no-must-find-files, eslint --fix, npx --no-install prisma format

fix bug in creating existed entities
  prisma/seed.ts
Due: cspell --no-must-find-files, eslint --fix

change variable names
  prisma/seed.ts
Due: cspell --no-must-find-files, eslint --fix

use short form of conditions
  prisma/seed.ts
Due: cspell --no-must-find-files, eslint --fix

[FSK-92]: List Of Families Householder DB Model (#35)
  prisma/migrations/20221010191202_add_householder/migration.sql
  prisma/migrations/20221011150127_update_family_id_property_to_family_id/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: cspell --no-must-find-files, eslint --fix, npx --no-install prisma format

upgrade prisma
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

nest deps
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

update safe deps
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

[FSK-107]: Sprint Maintenance (#38)
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

add severity, replace slug with code in family model, fix seed script
  e2e/smoke.e2e-spec.ts
  package-lock.json
  prisma/migrations/20221014134540_remove_slug_and_add_code_to_family/migration.sql
  prisma/migrations/20221014141353_add_severity_to_family/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  src/family/entities/draft-family.entity.ts
  src/family/entities/family-severity.enum.ts
  src/family/family.resolver.spec.ts
  src/family/family.service.spec.ts
  src/family/family.service.ts
  src/family/stubs/family.stub.ts
  src/project/project.resolver.spec.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix, npx --no-install prisma format

change code to string
  prisma/migrations/20221014180225_change_family_code_to_varchar/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  src/family/entities/draft-family.entity.ts
  src/family/entities/family-severity.enum.ts
  src/family/family.resolver.spec.ts
  src/family/family.service.spec.ts
  src/family/family.service.ts
  src/family/stubs/family.stub.ts
Due: cspell --no-must-find-files, eslint --fix, npx --no-install prisma format

extract methods from familyCode logics
  src/family/family.resolver.spec.ts
  src/family/family.service.ts
  src/family/stubs/family.stub.ts
  src/utils/familyCode.ts
  src/utils/index.ts
Due: cspell --no-must-find-files, eslint --fix

add test case for familyCode utils and using function to generate family code inside seed script
  prisma/seed.ts
  src/utils/familyCode.spec.ts
  src/utils/familyCode.ts
Due: cspell --no-must-find-files, eslint --fix

add test cases for not expected cases
  src/utils/familyCode.spec.ts
  src/utils/familyCode.ts
Due: cspell --no-must-find-files, eslint --fix

remove slug package
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

[FSK-90]: List of Families: Family DB Model (#37)
  e2e/smoke.e2e-spec.ts
  package-lock.json
  package.json
  prisma/migrations/20221014134540_remove_slug_and_add_code_to_family/migration.sql
  prisma/migrations/20221014141353_add_severity_to_family/migration.sql
  prisma/migrations/20221014180225_change_family_code_to_varchar/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  src/family/entities/draft-family.entity.ts
  src/family/entities/family-severity.enum.ts
  src/family/family.resolver.spec.ts
  src/family/family.service.spec.ts
  src/family/family.service.ts
  src/family/stubs/family.stub.ts
  src/project/project.resolver.spec.ts
  src/utils/familyCode.spec.ts
  src/utils/familyCode.ts
  src/utils/index.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix, npx --no-install prisma format

add create householder mutation
  prisma/migrations/20221019144541_add_status_to_householder/migration.sql
  prisma/schema.prisma
  src/householder/dto/index.ts
  src/householder/dto/input/create-householder.input.ts
  src/householder/entities/completed-householder.entity.ts
  src/householder/entities/householder-status.enum.ts
  src/householder/entities/householder.entity.ts
  src/householder/householder.resolver.spec.ts
  src/householder/householder.resolver.ts
  src/householder/householder.service.spec.ts
  src/householder/householder.service.ts
  src/householder/stubs/householder.stub.ts
  src/shared/member/member.entity.ts
Due: cspell --no-must-find-files, eslint --fix, npx --no-install prisma format

fix test cases for householder
  src/householder/entities/householder-status.enum.ts
  src/householder/householder.resolver.spec.ts
  src/householder/householder.service.spec.ts
  src/householder/householder.service.ts
  src/householder/stubs/householder.stub.ts
Due: cspell --no-must-find-files, eslint --fix

createFamily mutation: return DraftFamily
  src/family/family.resolver.ts
Due: cspell --no-must-find-files, eslint --fix

barrel export: family entities
  src/family/entities/index.ts
  src/family/family.resolver.ts
Due: cspell --no-must-find-files, eslint --fix

[Hotfix]: Draft Family Resolver (#40)
  src/family/entities/index.ts
  src/family/family.resolver.ts
Due: cspell --no-must-find-files, eslint --fix

[FSK-93]: Create A Householder: Implement The Mutation (#39)
  prisma/migrations/20221019144541_add_status_to_householder/migration.sql
  prisma/schema.prisma
  src/householder/dto/index.ts
  src/householder/dto/input/create-householder.input.ts
  src/householder/entities/completed-householder.entity.ts
  src/householder/entities/householder-status.enum.ts
  src/householder/entities/householder.entity.ts
  src/householder/householder.resolver.spec.ts
  src/householder/householder.resolver.ts
  src/householder/householder.service.spec.ts
  src/householder/householder.service.ts
  src/householder/stubs/householder.stub.ts
  src/shared/member/member.entity.ts
Due: cspell --no-must-find-files, eslint --fix, npx --no-install prisma format

add login resolver
  .eslintrc.js
  .github/workflows/CI.yml
  configs/cspell/dictionary.txt
  configs/husky/pre-push
  e2e/login.e2e-spec.ts
  e2e/smoke.e2e-spec.ts
  e2e/utils/graphql-request.util.ts
  e2e/utils/index.ts
  package-lock.json
  package.json
  prisma/seed.ts
  src/admin/admin.resolver.ts
  src/admin/admin.service.spec.ts
  src/admin/admin.service.ts
  src/admin/entities/admin.entity.ts
  src/app.module.ts
  src/auth/auth.module.ts
  src/auth/auth.resolver.spec.ts
  src/auth/auth.resolver.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/auth/dto/index.ts
  src/auth/dto/input/login.input.ts
  src/auth/dto/login.response.dto.ts
  src/auth/stubs/admin.stub.ts
  src/auth/stubs/index.ts
  src/configuration/config.interface.ts
  src/configuration/config.schema.ts
  src/configuration/config.ts
  src/graphql-config/graphql-config.service.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix type error
  @types/express.d.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix tests
  e2e/login.e2e-spec.ts
  src/auth/auth.resolver.spec.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/auth/dto/errors.ts
  src/auth/stubs/admin.stub.ts
  src/family/family.service.ts
  src/project/project.resolver.spec.ts
Due: cspell --no-must-find-files, eslint --fix

[FSK-100]: Auth Login Mutation Be (#36)
  .eslintrc.js
  .github/workflows/CI.yml
  @types/express.d.ts
  configs/cspell/dictionary.txt
  configs/husky/pre-push
  e2e/login.e2e-spec.ts
  e2e/smoke.e2e-spec.ts
  e2e/utils/graphql-request.util.ts
  e2e/utils/index.ts
  package-lock.json
  package.json
  prisma/seed.ts
  src/admin/admin.resolver.ts
  src/admin/admin.service.ts
  src/admin/entities/admin.entity.ts
  src/app.module.ts
  src/auth/auth.module.ts
  src/auth/auth.resolver.spec.ts
  src/auth/auth.resolver.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/auth/dto/errors.ts
  src/auth/dto/index.ts
  src/auth/dto/input/login.input.ts
  src/auth/dto/login.response.dto.ts
  src/auth/stubs/admin.stub.ts
  src/auth/stubs/index.ts
  src/configuration/config.interface.ts
  src/configuration/config.schema.ts
  src/configuration/config.ts
  src/family/family.service.ts
  src/graphql-config/graphql-config.service.ts
  src/project/project.resolver.spec.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix heroku issue
  package.json
  src/main.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

update developers
  scripts/pr
Due: none

add buggy families resolver
  package-lock.json
  package.json
  src/family/entities/family.response.entity.ts
  src/family/family.resolver.ts
  src/family/family.service.ts
  src/graphql-config/graphql-config.service.ts
  src/shared/connection.args.ts
  src/shared/relay.types.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add filter and orderBy and tests
  docker-compose.yml
  src/family/dto/input/get-families-filter.dto.ts
  src/family/dto/input/get-families-order-by.dto.ts
  src/family/entities/draft-family.entity.ts
  src/family/entities/draft-family.response.entity.ts
  src/family/entities/family.response.entity.ts
  src/family/family.resolver.spec.ts
  src/family/family.resolver.ts
  src/family/family.service.spec.ts
  src/family/family.service.ts
  src/shared/sort-order.enum.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix type problem
  src/family/dto/index.ts
  src/family/entities/draft-family.response.entity.ts
  src/family/entities/family.entity.ts
  src/family/entities/family.response.entity.ts
  src/family/entities/index.ts
  src/family/family.resolver.ts
  src/family/family.service.ts
  src/shared/connection.args.ts
  src/shared/constraints.ts
  src/shared/index.ts
  src/shared/relay/connection.args.ts
  src/shared/relay/getPagingParameter.ts
  src/shared/relay/index.ts
  src/shared/relay/orderBy.input.ts
  src/shared/relay/relay.types.ts
Due: cspell --no-must-find-files, eslint --fix

update tests
  src/family/family.resolver.spec.ts
Due: cspell --no-must-find-files, eslint --fix

[Hotfix]: Update Devs in PR Script (#43)
  scripts/pr
Due: none

[FSK-100]: Fix Cookie Issue with the Heroku (#42)
  package.json
  src/main.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

[FSK-89]: List of Families: Implement the Resolver (#41)
  docker-compose.yml
  package-lock.json
  package.json
  src/family/dto/index.ts
  src/family/dto/input/get-families-filter.dto.ts
  src/family/dto/input/get-families-order-by.dto.ts
  src/family/entities/draft-family.entity.ts
  src/family/entities/family.entity.ts
  src/family/entities/family.response.entity.ts
  src/family/entities/index.ts
  src/family/family.resolver.spec.ts
  src/family/family.resolver.ts
  src/family/family.service.spec.ts
  src/family/family.service.ts
  src/graphql-config/graphql-config.service.ts
  src/shared/constraints.ts
  src/shared/index.ts
  src/shared/relay/connection.args.ts
  src/shared/relay/getPagingParameter.ts
  src/shared/relay/index.ts
  src/shared/relay/orderBy.input.ts
  src/shared/relay/relay.types.ts
  src/shared/sort-order.enum.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix
