Repository fullstacksjs/the-charity-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

.lintstagedrc.json:

{
  "*.{md,json}": ["prettier --write", "cspell --no-must-find-files"],
  "*.ts": ["eslint --fix", "cspell --no-must-find-files"]
}

fix second-householder-problem type
  src/householder/entities/complete-householder.entity.ts
  src/householder/entities/draft-householder.entity.ts
  src/householder/types/second-householder-problem.union.ts
Due: cspell --no-must-find-files, eslint --fix

fix dependent field
  src/householder/entities/draft-householder.entity.ts
Due: cspell --no-must-find-files, eslint --fix

restructure
  src/app.module.ts
  src/dependent/entities/dependent.entity.ts
  src/family/entities/family.entity.ts
  src/householder/entities/complete-householder.entity.ts
  src/householder/entities/draft-householder.entity.ts
  src/householder/types/accommodation.enum.ts
  src/householder/types/address.type.ts
  src/householder/types/bank-account.type.ts
  src/householder/types/contact-type.type.ts
  src/householder/types/contact.type.ts
  src/householder/types/diploma.enum.ts
  src/householder/types/disability-status.enum.ts
  src/householder/types/education-status.enum.ts
  src/householder/types/health-status.enum.ts
  src/householder/types/index.ts
  src/householder/types/insurance.type.ts
  src/householder/types/job.type.ts
  src/householder/types/marital-status.enum.ts
  src/householder/types/possession.type.ts
  src/householder/types/second-householder-problem.union.ts
  src/householder/types/skill.type.ts
  src/householder/types/subsidy-type.enum.ts
  src/householder/types/subsidy.ts
  src/shared/document.type.ts
  src/shared/index.ts
  src/shared/member/gender.enum.ts
  src/shared/member/index.ts
  src/shared/member/member.entity.ts
  src/shared/member/religion.enum.ts
  src/shared/scalars/iban.scalar.ts
  src/shared/scalars/index.ts
  src/shared/scalars/money.scalar.ts
Due: cspell --no-must-find-files, eslint --fix

fix eslint rules
  .eslintrc.js
  package-lock.json
  package.json
  src/app.module.ts
  src/configuration/EnvironmentVariables.ts
  src/schema.gql
  src/types/accommodation.enum.ts
  src/types/diploma.enum.ts
  src/types/disability-status.enum.ts
  src/types/education-status.enum.ts
  src/types/gender.enum.ts
  src/types/health-status.enum.ts
  src/types/marital-status.enum.ts
  src/types/religion.enum.ts
  src/types/second-householder-problem.union.ts
  src/types/subsidy-type.enum.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add Procfile
  Procfile
  configs/cspell/dictionary.txt
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

WIP
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

remove unnecessary packages
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

[FSK-27]: Configure Vercel (#7)
  Procfile
  configs/cspell/dictionary.txt
  package-lock.json
Due: prettier --write, cspell --no-must-find-files

add readme with setup instruction and scripts overview
  README.md
Due: prettier --write, cspell --no-must-find-files

add cspell dictionary path to readme
  README.md
Due: prettier --write, cspell --no-must-find-files

fix ordering and add more scripts
  README.md
Due: prettier --write, cspell --no-must-find-files

[FSK-63]: BackEnd Readme (#11)
  README.md
Due: prettier --write, cspell --no-must-find-files

CORS Configuration added
  src/app.module.ts
Due: cspell --no-must-find-files, eslint --fix

add cspell extension to general notes section
  README.md
Due: prettier --write, cspell --no-must-find-files

add INTROSPECTION_ENABLED environment variable
  .example.env
  src/app.module.ts
  src/configuration/EnvironmentVariables.ts
  src/configuration/validation.ts
Due: cspell --no-must-find-files, eslint --fix

[FSK-62]: Backend Readme (#14)
  README.md
Due: prettier --write, cspell --no-must-find-files

[FSK-64]: Allow To Control Introspection From Environment (#15)
  .example.env
  src/app.module.ts
  src/configuration/EnvironmentVariables.ts
  src/configuration/validation.ts
Due: cspell --no-must-find-files, eslint --fix

[FSK-63]: Cors Configuration (#12)
  src/app.module.ts
Due: cspell --no-must-find-files, eslint --fix

add basic family schema and seed script
  configs/cspell/dictionary.txt
  prisma/migrations/20220904132759_init/migration.sql
  prisma/migrations/20220917142128_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  prisma/seed.ts
Due: cspell --no-must-find-files, eslint --fix

add deploy migration command to heroku Procfile
  Procfile
Due: none

add seed script to heroku Procfile
  Procfile
Due: none

ignore all persian words
  .cspell.json
  configs/cspell/dictionary.txt
Due: prettier --write, cspell --no-must-find-files

remove seed script from Procfile
  Procfile
  src/configuration/validation.ts
Due: cspell --no-must-find-files, eslint --fix

[FSK-74]: Create a Draft Family Db Schema (#16)
  .cspell.json
  Procfile
  prisma/migrations/20220904132759_init/migration.sql
  prisma/migrations/20220917142128_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  prisma/seed.ts
  src/configuration/validation.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add slug to family and change seed script to use slug instead of name
  package-lock.json
  package.json
  prisma/migrations/20220917160210_add_slug_to_family/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

remove slug word from test family slug
  prisma/seed.ts
Due: cspell --no-must-find-files, eslint --fix

[FSK-74]: Add Slug To Family (Db Schema) (#17)
  package-lock.json
  package.json
  prisma/migrations/20220917160210_add_slug_to_family/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

using VarChar instead of text
  prisma/schema.prisma
Due: none

add migration for changing data type
  prisma/migrations/20220918151254_change_datatype_of_family/migration.sql
Due: none

[FSK-62]: Add Readme (#14)
  README.md
Due: prettier --write, cspell --no-must-find-files

[Hotfix]: Remove main Branch from CI Workflow
  .github/workflows/CI.yml
Due: none
